<div class="col-md-6">
    <!-- @start Post featured -->
    <article class="se-post se-post--featured se-post--bgwhite">
        <div class="se-post__image text-center">
        </div>
        <div class="se-post__box-big">
            <h2 class="se-post__title">
            </h2>

            <div class="se-post__legend">
            </div>

            <div class="se-post__descrip">
            </div>
        </div>
    </article>
    <!-- @end Post featured -->
</div>