{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
        'se-post',
        'se-post--featured',
        'se-post--bgwhite'  
    ]
%}
<article{{ attributes.addClass(classes) }}>
    {# <div class="se-post__image text-center">
        <a href="#">
            <img src="{{ directory }}/images/post-featured-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
        </a>

        <img src="{{ directory }}/images/icon-playvideo.png" class="se-post__icon-multimedia"/>
    </div> #}
    {# <div class="se-post__box-big"> #}
        {% block content %}
            {{ content }}
        {% endblock %}
    {# </div> #}
</article>


{# <article class="se-post se-post--featured se-post--bgwhite">
    <div class="se-post__image text-center">
        <a href="#">
            <img src="assets/img/post-featured-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
        </a>

        <img src="assets/img/icon-playvideo.png" class="se-post__icon-multimedia"/>
    </div>
    <div class="se-post__box-big">
        <h2 class="se-post__title">
            <a href="#">Esta es una noticia destacada del blog</a>
        </h2>

        <div class="se-post__legend">
            Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
        </div>

        <div class="se-post__descrip">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        </div>
    </div>
</article> #}
