<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>{{ head_title|safe_join(' | ') }}</title>

        {# <head-placeholder token="{{ placeholder_token|raw }}"> #}
        <css-placeholder token="{{ placeholder_token|raw }}">
        {# <js-placeholder token="{{ placeholder_token|raw }}"> #}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="AMC Walking Dead Story Sync">

        <link rel="author" href="humans.txt" />
        <link rel="shortcut icon" href="favicon.ico">

        <script>
          var APPDATA = {
            baseURL: 'http://localhost:7001'
          };
        </script>
    </head>
    <body>
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>