{% include directory ~ '/partials/header.html.twig' %}

<!--[if lt IE 10]>
<div class="outdatedbrowser">
  Estás usando un navegador obsoleto. <a href="http://outdatedbrowser.com/es">Actualice su navegador</a> para mejorar su experiencia.
</div>
<![endif]-->

<!-- @start Main -->
<main class="se-main se-page-home">

  <!-- @start Section top --> 
  <div class="se-main__top mb-4" data-sreveal-animate="fadeInUp">

    <!-- @start Breadcrumb -->
    <div class="container se-breadcrumb-mini-wrapper py-3">
      <nav class="se-breadcrumb-mini">
        <ol class="breadcrumb px-0 mb-0">
          <li class="breadcrumb-item"><a href="{{ base_path }}">Inicio</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ol>
      </nav>
    </div>
    <!-- @end Breadcrumb -->

    <!-- @start Badge Main -->
    <div class="container">
      <section class="se-section-badge pb-4">
        <h3 class="se-section-badge_title">
          NUESTRO <br>
          <span class="se-color-primary">BLOG</span>
        </h3>

        <p class="se-section-badge_descrip">Conoce las tendencias y últimas novedades de nuestras carreras aquí</p>
      </section>
    </div>
    <!-- @end Badge Main -->

  </div>
  <!-- @end Section top --> 

  <!-- @start Section featured --> 
  <section class="se-section-featured container mb-4" data-sreveal-animate="fadeInUp">

    <h3 class="se-section-featured__title-mobile se-text-style-a text-left text-md-center mb-4">
      LO MAS RECIENTE
    </h3>

    <div class="row">
      <div class="col-md-6">
        <!-- @start Post featured -->
        {{ page.content.views_block__noticia_destacada_block_1 }}
        <!-- @end Post featured -->
      </div>
      <div class="col-md-6">
        <h3 class="se-section-featured__title se-text-style-a mb-4 mb-lg-5">LO MAS RECIENTE</h3>
        {{ page.content.views_block__lo_mas_reciente_block_1 }}
      </div>
    </div>

    <hr class="se-hr"/>
  </section>
  <!-- @end Section featured -->

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <!-- @start Section relevant -->
        <section class="se-section-featured">
          <h3 class="se-text-style-b mb-3">
            Lo más relevante
          </h3>

          {# <div class="row"> #}
            {{ page.content.views_block__lo_mas_relevante_block_1 }}
          {# </div> #}

          <!-- paginación -->
          <nav>
            <ul class="pagination se-pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Siguiente ></a></li>
              <li class="page-item"><a class="page-link" href="#">Última >></a></li>
            </ul>
          </nav>
        </section>
        <!-- @end Section relevant -->
      </div>

      <!-- Sidebar -->
      <div class="col-md-4 se-column-right">
        {{ page.sidebar }}
      </div>
    </div>

    <hr class="se-hr mb-4" />

    <!-- @start Events -->
    <section class="mb-4">

      <h3 class="se-text-style-b mb-3">
        Eventos
      </h3>

      <!-- @start Slider Events -->
      <div id="slider-events" class="se-slider-events slick-slider slick-slider-preload">
        <div class="slick-preload-loader">Cargando</div>

        <article class="se-event slick-slide">
          <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
          <div class="se-event-box">
            <h3 class="se-event--title">Workshops de Carreras 2018</h3>
            <div class="se-event--descrip">
              Lima <br/>
              Av. Los Héroes Nro. 273 <br/>
              04:30 pm <br/>
              S/ 350.00
            </div>
            <a href="#" class="btn se-btn-flat se-btn-flat--blue">
              LEER MÁS
            </a>
          </div>
        </article>
        <article class="se-event slick-slide">
          <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
          <div class="se-event-box">
            <h3 class="se-event--title">Workshops de Carreras 2018</h3>
            <div class="se-event--descrip">
              Lima <br/>
              Av. Los Héroes Nro. 273 <br/>
              04:30 pm <br/>
              S/ 350.00
            </div>
            <a href="#" class="btn se-btn-flat se-btn-flat--blue">
              LEER MÁS
            </a>
          </div>
        </article>
        <article class="se-event slick-slide">
          <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
          <div class="se-event-box">
            <h3 class="se-event--title">Workshops de Carreras 2018</h3>
            <div class="se-event--descrip">
              Lima <br/>
              Av. Los Héroes Nro. 273 <br/>
              04:30 pm <br/>
              S/ 350.00
            </div>
            <a href="#" class="btn se-btn-flat se-btn-flat--blue">
              LEER MÁS
            </a>
          </div>
        </article>
        <article class="se-event slick-slide">
          <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
          <div class="se-event-box">
            <h3 class="se-event--title">Workshops de Carreras 2018</h3>
            <div class="se-event--descrip">
              Lima <br/>
              Av. Los Héroes Nro. 273 <br/>
              04:30 pm <br/>
              S/ 350.00
            </div>
            <a href="#" class="btn se-btn-flat se-btn-flat--blue">
              LEER MÁS
            </a>
          </div>
        </article>
        <article class="se-event slick-slide">
          <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
          <div class="se-event-box">
            <h3 class="se-event--title">Workshops de Carreras 2018</h3>
            <div class="se-event--descrip">
              Lima <br/>
              Av. Los Héroes Nro. 273 <br/>
              04:30 pm <br/>
              S/ 350.00
            </div>
            <a href="#" class="btn se-btn-flat se-btn-flat--blue">
              LEER MÁS
            </a>
          </div>
        </article>
      </div>
      <!-- @end Slider Events -->

    </section>
    <!-- @end Events -->

    <!-- @start Follow us -->
    {% include directory ~ '/partials/redesSociales.html.twig' %}
    <!-- @end Follow us -->

    <!-- @start Input Search -->
    {% include directory ~ '/partials/formBusquedaFooter.html.twig' %}
    <!-- @end Input Search -->
  </div>

</main>
<!-- @end Main -->

{% include directory ~ '/partials/footer.html.twig' %}



