{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{# 
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div> #}

{% include directory ~ '/partials/header.html.twig' %}

    <!-- @start Main -->
    <main class="se-main se-page-tags">

      <!-- @start Section top --> 
      <div class="se-main__top mb-4" data-sreveal-animate="fadeInUp">

        <!-- @start Breadcrumb -->
        <div class="container se-breadcrumb-mini-wrapper py-4">
          <nav class="se-breadcrumb-mini">
            <ol class="breadcrumb px-0 mb-0">
              <li class="breadcrumb-item"><a href="{{ base_path }}">Inicio</a></li>
              <li class="breadcrumb-item active">Blog</li>
            </ol>
          </nav>
        </div>
        <!-- @end Breadcrumb -->

      </div>
      <!-- @end Section top --> 

      <!-- @start Section featured --> 
      <section class="se-section-featured container mb-4" data-sreveal-animate="fadeInUp">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ base_path ~ directory }}/images/cat-detail.png" class="img-fluid mb-3 mb-md-5"/>
          </div>
          <div class="col-md-6">
            <!-- @start Breadcrumb -->
            <ul class="se-breadcrumb se-breadcrumb--simple my-2 my-md-4">
              <li>
                <img src="{{ base_path ~ directory }}/images/icon-category.png"/>
              </li>
              <li class="se-breadcrumb__item-main">
                Agroindustria
              </li>
            </ul>
            <!-- @end Breadcrumb -->

            <p class="mb-3 mb-md-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            </p>

          </div>
        </div>

        <hr class="se-hr"/>
      </section>
      <!-- @end Section featured -->

      <div class="container">

        <div class="row">
          <div class="col-md-8">

            <!-- @start Section relevant -->    
            <section class="se-section-featured">

              <h3 class="se-text-style-b mb-3">
                Lo más reciente
              </h3>

              <div class="row">
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>
                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>

                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>

                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>

                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>

                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
                <div class="col-md-6">
                  <article class="se-post mb-4">
                    <div class="se-post__image text-center">
                      <a href="#">
                        <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                      </a>
                    </div>

                    <div class="se-post__box">
                      <h2 class="se-post__title">
                        <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                      </h2>

                      <div class="se-post__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>

                      <div class="se-post__descrip">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                      </div>

                      <a href="#" class="btn se-btn-flat">
                        MINERÍA
                      </a>
                    </div>
                  </article>
                </div>
              </div>

              <nav>
                <ul class="pagination se-pagination">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Siguiente ></a></li>
                  <li class="page-item"><a class="page-link" href="#">Última >></a></li>
                </ul>
              </nav>
            </section>
            <!-- @end Section relevant -->

          </div>
          <div class="col-md-4 se-column-right">

            <!-- @start Input Search -->
            <form class="se-input-search input-group mb-4">
              <input type="text" class="form-control" placeholder="BUSCAR">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">
                  <img src="{{ base_path ~ directory }}/images/icon-search.png"/>
                </button>
              </div>
            </form>
            <!-- @end Input Search -->

            <!-- @start Follow us -->
            <div class="se-follow-us mb-4">
              <div class="row">
                <div class="col-3 col-md-12 col-lg-3 col-xl-4">
                  <h2 class="se-follow-us__label se-text-style-b">
                    Síguenos
                  </h2>
                </div>
                <div class="col-9 col-md-12 col-lg-9  col-xl-8 text-right text-md-left">
                  <a href="#" class="btn se-btn-social">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn se-btn-social">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn se-btn-social">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#" class="btn se-btn-social">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#" class="btn se-btn-social">
                    <i class="fa fa-youtube"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- @end Follow us -->

            <!-- @start Ad -->
            <aside class="mb-4">
              <h3 class="se-text-style-b mb-3">
                Anuncios
              </h3>
              <a href="#" class="mb-4 d-block text-center">
                <img src="{{ base_path ~ directory }}/images/ad-a.png" alt="Alt" title="Title" class="img-fluid"/>
              </a>
            </aside>
            <!-- @end Ad -->

            <!-- @start Most seen -->
            <section class="mb-4">
              <h3 class="se-text-style-b mb-3">
                Lo más visto
              </h3>

              <div>
                <article class="se-post-seen mb-3">
                  <div class="row">
                    <div class="col-3 col-md-4">
                      <div class="se-post-seen__image">
                        <a href="#">
                          <img src="{{ base_path ~ directory }}/images/post-image-round.png" title="Title" alt="Alt">
                        </a>
                      </div>
                    </div>
                    <div class="col-9 col-md-8">
                      <h2 class="se-post-seen__title">
                        <a href="#">¿Podremos crear máquinas verdaderamente inteligentes?</a>
                      </h2>
                      <div class="se-post-seen__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="se-post-seen mb-3">
                  <div class="row">
                    <div class="col-3 col-md-4">
                      <div class="se-post-seen__image">
                        <a href="#">
                          <img src="{{ base_path ~ directory }}/images/post-image-round.png" title="Title" alt="Alt">
                        </a>
                      </div>
                    </div>
                    <div class="col-9 col-md-8">
                      <h2 class="se-post-seen__title">
                        <a href="#">¿Podremos crear máquinas verdaderamente inteligentes?</a>
                      </h2>
                      <div class="se-post-seen__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="se-post-seen mb-3">
                  <div class="row">
                    <div class="col-3 col-md-4">
                      <div class="se-post-seen__image">
                        <a href="#">
                          <img src="{{ base_path ~ directory }}/images/post-image-round.png" title="Title" alt="Alt">
                        </a>
                      </div>
                    </div>
                    <div class="col-9 col-md-8">
                      <h2 class="se-post-seen__title">
                        <a href="#">¿Podremos crear máquinas verdaderamente inteligentes?</a>
                      </h2>
                      <div class="se-post-seen__legend">
                        Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </section>
            <!-- @end Most seen -->

            <!-- @start Tag -->
            <section class="mb-4">
              <h3 class="se-text-style-b mb-3">
                Tag
              </h3>

              <div>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">TECH</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MINERÍA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">STARTUP</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MINERÍA INDUSTRIAL</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">INFORMATICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MECÁNICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">LOGÍSTICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">SOCIAL MEDIA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">TECH</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MINERÍA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">STARTUP</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MINERÍA INDUSTRIAL</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">INFORMATICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">MECÁNICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">LOGÍSTICA</a>
                <a href="#" class="btn se-btn-flat mb-2 ml-2">SOCIAL MEDIA</a>
              </div>
            </section>
            <!-- @end Tag -->

            <!-- @start Ad -->
            <aside class="mb-4">
              <h3 class="se-text-style-b mb-3">
                Anuncios
              </h3>
              <a href="#" class="mb-4 d-block text-center">
                <img src="{{ base_path ~ directory }}/images/ad-v.png" alt="Alt" title="Title" class="img-fluid"/>
              </a>
            </aside>
            <!-- @end Ad -->

          </div>
        </div>

        <hr class="se-hr mb-4" />

        <!-- @start Events -->
        <section class="mb-4">

          <h3 class="se-text-style-b mb-3">
            Eventos
          </h3>

          <!-- @start Slider Events -->
          <div id="slider-events" class="se-slider-events slick-slider slick-slider-preload">
            <div class="slick-preload-loader">Cargando</div>

            <article class="se-event slick-slide">
              <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
              <div class="se-event-box">
                <h3 class="se-event--title">Workshops de Carreras 2018</h3>
                <div class="se-event--descrip">
                  Lima <br/>
                  Av. Los Héroes Nro. 273 <br/>
                  04:30 pm <br/>
                  S/ 350.00
                </div>
                <a href="#" class="btn se-btn-flat se-btn-flat--blue">
                  LEER MÁS
                </a>
              </div>
            </article>
            <article class="se-event slick-slide">
              <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
              <div class="se-event-box">
                <h3 class="se-event--title">Workshops de Carreras 2018</h3>
                <div class="se-event--descrip">
                  Lima <br/>
                  Av. Los Héroes Nro. 273 <br/>
                  04:30 pm <br/>
                  S/ 350.00
                </div>
                <a href="#" class="btn se-btn-flat se-btn-flat--blue">
                  LEER MÁS
                </a>
              </div>
            </article>
            <article class="se-event slick-slide">
              <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
              <div class="se-event-box">
                <h3 class="se-event--title">Workshops de Carreras 2018</h3>
                <div class="se-event--descrip">
                  Lima <br/>
                  Av. Los Héroes Nro. 273 <br/>
                  04:30 pm <br/>
                  S/ 350.00
                </div>
                <a href="#" class="btn se-btn-flat se-btn-flat--blue">
                  LEER MÁS
                </a>
              </div>
            </article>
            <article class="se-event slick-slide">
              <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
              <div class="se-event-box">
                <h3 class="se-event--title">Workshops de Carreras 2018</h3>
                <div class="se-event--descrip">
                  Lima <br/>
                  Av. Los Héroes Nro. 273 <br/>
                  04:30 pm <br/>
                  S/ 350.00
                </div>
                <a href="#" class="btn se-btn-flat se-btn-flat--blue">
                  LEER MÁS
                </a>
              </div>
            </article>
            <article class="se-event slick-slide">
              <img src="{{ base_path ~ directory }}/images/event-image-a.png" alt="Alt" title="Title" class="w-100">
              <div class="se-event-box">
                <h3 class="se-event--title">Workshops de Carreras 2018</h3>
                <div class="se-event--descrip">
                  Lima <br/>
                  Av. Los Héroes Nro. 273 <br/>
                  04:30 pm <br/>
                  S/ 350.00
                </div>
                <a href="#" class="btn se-btn-flat se-btn-flat--blue">
                  LEER MÁS
                </a>
              </div>
            </article>
          </div>
          <!-- @end Slider Events -->

        </section>
        <!-- @end Events -->


        <!-- @start Follow us -->
        <div class="se-follow-us mb-4">
          <div class="row">
            
            <div class="col-12  text-center">

                <h2 class="se-follow-us__label se-text-style-b text-center">
                    Síguenos en :
                  </h2>
              <a href="#" class="btn se-btn-social">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="btn se-btn-social">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="btn se-btn-social">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="#" class="btn se-btn-social">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#" class="btn se-btn-social">
                <i class="fa fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- @end Follow us -->

        <!-- @start Input Search -->
        <form class="se-input-search input-group mb-4">
          <input type="text" class="form-control" placeholder="BUSCAR">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">
              <img src="{{ base_path ~ directory }}/images/icon-search.png"/>
            </button>
          </div>
        </form>
        <!-- @end Input Search -->
        
      </div>

    </main>
    <!-- @end Main -->


{% include directory ~ '/partials/footer.html.twig' %}