{% include directory ~ '/partials/header.html.twig' %}

{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this base_path ~ directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-base_path ~ directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{# <div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div> #}

<!--[if lt IE 10]>
<div class="outdatedbrowser">
  Estás usando un navegador obsoleto. <a href="http://outdatedbrowser.com/es">Actualice su navegador</a> para mejorar su experiencia.
</div>
<![endif]-->

<!-- @start Main -->
<main class="se-main se-page-post-detail">

  <!-- @start Section top --> 
  <div class="se-main__top mb-4" data-sreveal-animate="fadeInUp">
    
    <!-- @start Breadcrumb -->
    <div class="container se-breadcrumb-mini-wrapper py-3">
      <nav class="se-breadcrumb-mini">
        <ol class="breadcrumb px-0 mb-0">
          <li class="breadcrumb-item"><a href="{{ base_url }}">Inicio</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ol>
      </nav>
    </div>
    <!-- @end Breadcrumb -->

  </div>
  <!-- @end Section top --> 

  <!-- @start Post Title -->
  <div class="container" data-sreveal-animate="fadeInUp">
    <h1 class="se-page-post-detail__title mb-4">
      <span class="se-text-parent-post">PYME /</span>
      <span class="se-text-title-post">{{ node.label }}</span>
    </h1>
  </div>
  <!-- @end Post Title -->

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ page.content }}

        <hr class="se-hr mb-5"/>

        <!-- @start Section related -->
        <section class="se-section-related">
            <h3 class="se-text-style-b mb-3">
            También te podría interesar
            </h3>

            <div class="row">
                <div class="col-md-6">
                    <article class="se-post mb-4">
                        <div class="se-post__image text-center">
                            <a href="#">
                            <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                            </a>
                        </div>
                        <div class="se-post__box">
                            <h2 class="se-post__title">
                            <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                            </h2>

                            <div class="se-post__legend">
                            Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                            </div>

                            <div class="se-post__descrip">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            </div>

                            <a href="#" class="btn se-btn-flat">
                            ACTUALIDAD
                            </a>
                        </div>
                        </article>
                    </div>
                    <div class="col-md-6">
                        <article class="se-post mb-4">
                        <div class="se-post__image text-center">
                            <a href="#">
                            <img src="{{ base_path ~ directory }}/images/post-image-a.png" class="img-fluid" alt="Post Image A" title="Post Image A">
                            </a>
                        </div>

                        <div class="se-post__box">
                            <h2 class="se-post__title">
                            <a href="#">Servicio Nacional en Trabajo Industrial Lorem ipsom dolor sit amet, consectutes adidiing</a>
                            </h2>

                            <div class="se-post__legend">
                            Autor : Jimmy Chumacero  | <time>12 de abril 2018</time>
                            </div>

                            <div class="se-post__descrip">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            </div>

                            <a href="#" class="btn se-btn-flat">
                            ACTUALIDAD
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- @start Section related -->

      </div>
      <div class="col-md-4 se-column-right">
        {{ page.sidebar }}
      </div>
    </div>

    <!-- @start Follow us -->
    {# <div class="se-follow-us mb-4">
      <div class="row">
        
        <div class="col-12  text-center">

            <h2 class="se-follow-us__label se-text-style-b text-center">
                Síguenos en :
              </h2>
          <a href="#" class="btn se-btn-social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="btn se-btn-social">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="btn se-btn-social">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#" class="btn se-btn-social">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="btn se-btn-social">
            <i class="fa fa-youtube"></i>
          </a>
        </div>
      </div>
    </div> #}
    <!-- @end Follow us -->

    <!-- @start Input Search -->
    {# <form class="se-input-search input-group mb-4">
      <input type="text" class="form-control" placeholder="BUSCAR">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">
          <img src="{{ base_path ~ directory }}/images/icon-search.png"/>
        </button>
      </div>
    </form> #}
    <!-- @end Input Search -->
    
  </div>


</main>
<!-- @end Main -->

{% include directory ~ '/partials/footer.html.twig' %}