{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    <article class="se-post-seen mb-3">
        <div class="row">
            <div class="col-3 col-md-4">
                <div class="se-post-seen__image">
                    {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_imagen }}'] }}
                </div>
            </div>
            <div class="col-9 col-md-8">
                <h2 class="se-post-seen__title">
                    {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
                </h2>
                <div class="se-post-seen__legend">
                    Autor : {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ uid }}'] }} | <time>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ created }}'] }}</time>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
