{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row">
{% for row in rows %}
  <div class="col-md-6">
    <article class="se-post mb-4">
      <div class="se-post__image text-center">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_imagen }}'] }}
      </div>
      <div class="se-post__box">
        <h2 class="se-post__title">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}
        </h2>

        <div class="se-post__legend">
          Autor : {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ uid }}'] }} | <time>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ created }}'] }}</time>
        </div>

        <div class="se-post__descrip">
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ body }}'] }}
        </div>

        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_categoria }}'] }}
      </div>
    </article>
  </div>
{% endfor %}
</div>