{%- if fields.title -%}
  {{ fields.title.separator }}
  {%- if fields.title.wrapper_element -%}
    <{{ fields.title.wrapper_element }}{{ fields.title.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.title.label -%}
    {%- if fields.title.label_element -%}
      <{{ fields.title.label_element }}{{ fields.title.label_attributes }}>{{ fields.title.label }}{{ fields.title.label_suffix }}</{{ fields.title.label_element }}>
    {%- else -%}
      {{ fields.title.label }}{{ fields.title.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.title.element_type -%}
    <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>{{ fields.title.content }}</{{ fields.title.element_type }}>
  {%- else -%}
    {{ fields.title.content }}
  {%- endif %}
  {%- if fields.title.wrapper_element -%}
    </{{ fields.title.wrapper_element }}>
  {%- endif %}
{%- endif %}

<div class="se-post-recent__legend">
{%- if fields.uid -%}
  {%- if fields.uid.wrapper_element -%}
    <{{ fields.uid.wrapper_element }}{{ fields.uid.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.uid.label -%}
    {%- if fields.uid.label_element -%}
      <{{ fields.uid.label_element }}{{ fields.uid.label_attributes }}>{{ fields.uid.label }}{{ fields.uid.label_suffix }}</{{ fields.uid.label_element }}>
    {%- else -%}
      {{ fields.uid.label }}{{ fields.uid.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.uid.element_type -%}
    <{{ fields.uid.element_type }}{{ fields.uid.element_attributes }}>{{ fields.uid.content }}</{{ fields.uid.element_type }}>
  {%- else -%}
    {{ fields.uid.content }}
  {%- endif %}
  {%- if fields.uid.wrapper_element -%}
    </{{ fields.uid.wrapper_element }}>
  {%- endif %}
{%- endif %} |

{%- if fields.created -%}
  {%- if fields.created.wrapper_element -%}
    <{{ fields.created.wrapper_element }}{{ fields.created.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.created.label -%}
    {%- if fields.created.label_element -%}
      <{{ fields.created.label_element }}{{ fields.created.label_attributes }}>{{ fields.created.label }}{{ fields.created.label_suffix }}</{{ fields.created.label_element }}>
    {%- else -%}
      {{ fields.created.label }}{{ fields.created.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.created.element_type -%}
    <{{ fields.created.element_type }}{{ fields.created.element_attributes }}>{{ fields.created.content }}</{{ fields.created.element_type }}>
  {%- else -%}
    {{ fields.created.content }}
  {%- endif %}
  {%- if fields.created.wrapper_element -%}
    </{{ fields.createdwrapper_element }}>
  {%- endif %}
{%- endif %}
</div>

{%- if fields.body -%}
  {{ fields.body.separator }}
  {%- if fields.body.wrapper_element -%}
    <{{ fields.body.wrapper_element }}{{ fields.body.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.body.label -%}
    {%- if fields.body.label_element -%}
      <{{ fields.body.label_element }}{{ fields.body.label_attributes }}>{{ fields.body.label }}{{ fields.body.label_suffix }}</{{ fields.body.label_element }}>
    {%- else -%}
      {{ fields.body.label }}{{ fields.body.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.body.element_type -%}
    <{{ fields.body.element_type }}{{ fields.body.element_attributes }}>{{ fields.body.content }}</{{ fields.body.element_type }}>
  {%- else -%}
    {{ fields.body.content }}
  {%- endif %}
  {%- if fields.body.wrapper_element -%}
    </{{ fields.body.wrapper_element }}>
  {%- endif %}
{%- endif %}