<!-- @start Footer -->
    <footer class="se-footer">
      <div class="container pb-3">
        <div class="row">
          <div class="col-md-12 col-lg-3">
            <h3 class="se-footer__title">
              Servicio Nacional de Adiestramiento en Trabajo Industrial
            </h3>
            <p>
              <strong class="color-white">SENATI</strong> 
              lleva 56 años brindando la mejor educación para las ocupaciones profesionales de la actividad industrial 
              manufacturera y de las labores de instalación, reparación y mantenimiento.
            </p>
            <p class="se-footer__color-gray">
              Sede Central: Av. Alfredo Mendiola # 3520 Independencia, Lima.
            </p>
          </div>
          <div class="col-md-12 col-lg-9">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <h3 class="se-footer__title se-footer__title--mb">Nosotros</h3>
                    {{ page.footer.menunosotros }}  
                    {{ page.footer.menunosotrosbottom }}

                  </div>
                  <div class="col-xs-12 col-sm-6">

                    <h3 class="se-footer__title se-footer__title--mb">Especialidades</h3>
                    {# <ul class="se-footer__list">
                      <li><a href="/especialidades/agroindustria">Agroindustrias</a></li>
                      <li><a href="/especialidades/artes-graficas">Artes gráficas</a></li>
                      <li><a href="/especialidades/confecciones">Confecciones</a></li>
                      <li><a href="/especialidades/electrotecnia">Electrotecnia</a></li>
                      <li><a href="/especialidades/hoteleria-y-turismo">Hotelería y turismo</a></li>
                      <li><a href="/especialidades/industrias-alimentarias">Industrias alimentarias</a></li>
                      <li><a href="/especialidades/tecnologias-de-la-informacion">Informática</a></li>
                      <li><a href="/especialidades/mecanica-automotriz">Mecánica automotriz</a></li>
                      <li><a href="/especialidades/metalmecanica">Metalmecánica</a></li>
                      <li><a href="/especialidades/tecnologias-ambientales">Tecnologías ambientales</a></li>
                      <li><a href="/especialidades/textil">Textil</a></li>
                    </ul> #}

                    {{ page.footer.menuespecialidadesbottom }}
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <h3 class="se-footer__title se-footer__title--mb">Senati para empresas</h3>
                    {{ page.footer.menusenatiempresas }}
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <h3 class="se-footer__title se-footer__title--mb">Ayuda</h3>
                    {# <ul class="se-footer__list-icons">
                      <li><a href="/admision"><span class="se-icon se-icon--edit"></span>Admisión</a></li>
                      <li><a data-target="#calendarioModal" data-toggle="modal" href="javascript:void(0);"><span class="se-icon se-icon--calendar"></span>Calendario de admisiones</a></li>
                      <li><a href="/contacto"><span class="se-icon se-icon--contact"></span>Contáctenos</a></li>
                      <li><a href="/preguntas-frecuentes"><span class="se-icon se-icon--chat"></span>Preguntas frecuentes</a></li>
                    </ul> #}

                    <div>
                      <p class="se-footer__free-line color-white">
                        Línea gratuita a nivel nacional <br/>
                        <a href="javascript:void(0)" class="color-white"><span class="se-icon se-icon--call"></span>0801--11100</a>
                      </p>
                      <p class="se-footer__free-line color-white">
                        Central telefónica <br/>
                        <a href="javascript:void(0)" class="color-white"><span class="se-icon se-icon--call"></span>2089999</a>
                      </p>
                      <p class="color-white">
                        <a href="mailto:contacto@senati.edu.pe" class="color-white">contacto@senati.edu.pe</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="se-footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
              <p>© SENATI {{ "now"|date("Y") }}. Todos los derechos reservados.</p>
            </div>
            <div class="col-lg-6 text-center">
              <ul>
                <li><a href="/node/255">Políticas de privacidad y uso de datos</a></li>
                <li><a href="/node/647">Términos y Condiciones</a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </footer>
<!-- @end Footer -->