<form class="se-input-search input-group mb-4">
    <input type="text" class="form-control" placeholder="BUSCAR">
    <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button">
        <img src="{{ directory }}/images/icon-search.png"/>
    </button>
    </div>
</form>