{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{# {% if content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %} #}

<!-- @start Header -->
<header class="se-header">
  <div class="se-header__top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {{ page.header }}

          <!-- @start Toogle menu (MOBILE) -->
          <button class="se-header__btnhamburger se-btn-hamburger navbar-toggler" type="button" data-toggle="offcanvas">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <!-- @end Toogle menu (MOBILE) --> 

        </div>

        {# <div class="col-md-8">
          <nav class="se-header__top__nav nav justify-content-end">
            <a class="nav-link" href="#">Nosotros</a>
            <a class="nav-link" href="#">Especialidades</a>
            <a class="nav-link" href="#">Sedes</a>
            <a class="nav-link" href="#">Adminisión</a>
            <a class="nav-link active" href="#">Blog</a>
          </nav>
        </div> #}
        {{ page.primary_menu }}
      </div>
    </div> 
  </div>

  {{ page.secondary_menu }}
  {# <div class="se-header__topics" data-sreveal-animate="fadeInDown">
    <div class="container">
      <ul class="se-header__topics__nav nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#">AGROINDUSTRIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TECNOLOGÍA DE LA INFORMACIÓN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MECÁNICA AUTOMOTRIZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ESCUELA SUPERIOR DE TECNOLOGÍA</a>
        </li>
        <li class="nav-item dropdown se-dropdown-group">
          <a class="nav-link dropdown-toggle se-header__topics__btn-more" 
              href="#" 
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
            VER MÁS
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="btn dropdown-item">ELECTROTENIA</a>
            <a href="#" class="btn dropdown-item">ARTES GRAFICAS</a>
            <a href="#" class="btn dropdown-item">METAL MECANICA</a>
            <a href="#" class="btn dropdown-item">JOYERÍA ORFEBRERÍA Y PLATERIA</a>
            <a href="#" class="btn dropdown-item">HOTELERÍA Y TURISMO</a>
            <a href="#" class="btn dropdown-item">COMUNICACIONES</a>
            <a href="#" class="btn dropdown-item">INDUSTRIAS ALIMENTARIAS</a>
            <a href="#" class="btn dropdown-item">ADMINISTRACIÓN DE EMPRESAS</a>
            <a href="#" class="btn dropdown-item">TEXTIL</a>
            <a href="#" class="btn dropdown-item">CONFECCIONES</a>
            <a href="#" class="btn dropdown-item">TECNOLOGÍAS AMBIENTALES</a>
          </div>
        </li>
      </ul>
    </div>
  </div>  #}

  <!-- @start Menu mobile (MOBILE) -->
  <div class="se-header__offcanvas offcanvas-collapse">

    <form class="px-4 mb-3">
      <!-- @start Input Search -->
      <div class="se-input-search se-input-search--transparent input-group">
        <input type="text" class="form-control" placeholder="BUSCAR">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">
            <img src="{{ directory }}/images/icon-search-gray-mini.png">
          </button>
        </div>
      </div>
      <!-- @end Input Search -->
    </form>

    <div class="se-header__offcanvas__cat mb-3">
      <h3 class="se-header__offcanvas__item px-4">
        BLOG : CATEGORIAS
      </h3>

      <ul class="se-header__offcanvas__list navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Agroindustria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Tecnología de la información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Mecánica Automotriz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Escuela Superior de Tecnología</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Electrotenia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Artes Gráficas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Metal Mecanica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Joyería, Orfebrería y Platería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Hotelería y Turismo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Comunicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Industría Alimentaria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="#">Administración de empresas</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link px-4" href="#">Textil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="#">Confecciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="#">Tecnologías Ambientales</a>
        </li>
        -->
      </ul>

    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="se-header__offcanvas__item px-4 nav-link" href="#">NOSOTROS</a>
      </li>
      <li class="nav-item active">
        <a class="se-header__offcanvas__item px-4 nav-link" href="#">ESPECIALIDADES</a>
      </li>
      <li class="nav-item active">
        <a class="se-header__offcanvas__item px-4 nav-link" href="#">SEDES</a>
      </li>
      <li class="nav-item active">
        <a class="se-header__offcanvas__item px-4 nav-link" href="#">ADMISIÓN</a>
      </li>
      <li class="nav-item active">
        <a class="se-header__offcanvas__item px-4 nav-link" href="#">BLOG</a>
      </li>
    </ul>

  </div>
  <!-- @end Menu mobile (MOBILE) -->

</header>
<!-- @end Header -->