<div class="se-follow-us mb-4">
    <div class="row">
    
        <div class="col-12  text-center">

            <h2 class="se-follow-us__label se-text-style-b text-center">
                Síguenos en :
                </h2>
            <a href="#" class="btn se-btn-social">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="btn se-btn-social">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn se-btn-social">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#" class="btn se-btn-social">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#" class="btn se-btn-social">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</div>